.header .menu{
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.header nav label{
    display: flex;
    flex-direction: column;
}

.header .hamburguer{
    content: url(../images/icon-menu.svg);
    width: 40px;
    height: 31px;
    position: relative;
    display: block;
    top: 17px;
    transition: .6s ease-in-out;
}

.header input:checked ~ label .hamburguer{
    content: url(../images/icon-menu-close.svg);
    position: relative;
    display: block;
    top: 17px;
}

.header input{
    display: none;
}

@media (max-width:500px){
    .header .menu{
        display: block;
    }

    .header nav ul{
        display: none;
    }

    .header input:checked ~ul{
        display: block;
    }

    .header nav{
        position: absolute;
        top: 8px;
        right: 5px;
        z-index: 1;
    }

    .header nav ul{
        background-color: #fff;
        width: 220px;
        height: 80vh;
        padding: 20px;
        opacity: .9;
    }

    .header nav ul a{
        margin-left: 0;
        display: block;
        padding: 22px;
        color: var(--destaque-1);
        font-weight: 700;
        font-size: 18px;
    }
}