@media (max-width: 500px) {
    .container {
        display: block;
        padding: 15px 20px;
    }

    .container .header {
        margin-bottom: 2em;
    }

    .header ul li{
        display: none;
    }

    .container .imagem .img-mobile {
        width: 100%;
        display: block;
    }
    
    .container .imagem .img-desktop {
        display: none;
    }

    .container .title {
        margin: 1em 0;
    }

    .container .title h1 {
        font-size: 2.2em;
        width: 90%;
    }

    .container .summary {
        margin: 2.5em 0;
        padding: 10px 20px;
    }

    .container .summary h2 {
        font-size: 1.8em;
    }

    .container .aside {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .container .aside .item .content h3 {
        font-size: 1.8em;
    }

    .container .aside .item .content p {
        width: 100%;
    }

    .container .footer {
        margin: 3em -.8em 0 -.8em;
    }
    
}