:root {
    --neutral: hsl(36, 100%, 99%);
    --primary-text-color: hsl(236, 13%, 42%);    
    --destaque-1: hsl(240, 100%, 5%);    
    --destaque-2: hsl(35, 77%, 62%);    
    --destaque-3: hsl(5, 85%, 63%);
}